.dish-name{
    color: aliceblue;
    text-decoration: none;
}
.dish-name{
    text-decoration: none;
    font-size:medium;
    color:white;
    
}
.dishes-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-gap: 16px; /* Adjust the gap between images */
  }
  
  .dish-img-container {
    position: relative;
    overflow: hidden;
  }
  
  .dish-img {
    width: 150px; /* Ensure each image takes up the full width of its container */
    height: 150px; /* Ensure each image takes up the full height of its container */
    object-fit: cover; /* Scale the image to cover its container while maintaining aspect ratio */
    transition: transform 0.3s ease-out;
  }
  
  .dish-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff8c00, #ffcc00);
    opacity: 0;
    transform: translateX(-100%) skewX(-15deg);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .dish-img-container:hover .dish-img {
    transform: scale(1.1);
  }
  
  .dish-img-container:hover::before {
    opacity: 0.8;
    transform: translateX(0) skewX(-15deg);
  }


@media (max-width: 768px) {
    .dishes-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on larger screens */
    }
  }
 
  a {
    text-decoration: none;
  }