body{
    background-image: url("../Food-Wars-Background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
  .red-container{
    background-image:url("../Food-WarsLogo.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid white; */
    padding:200px;
    transform: translate(0, +40%);
  }
  .home-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .home-list-item{
    padding: 10px 40px;
    border-radius: 100px;
    background-color: #FFAE0E;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 3px 0px 0 #FF7405, 0 0px 0px 0 #FF7405;
    border: none;
    color:white;
    font-weight: bolder;
  }
  .home-list-item:hover{
    background-color: #FF7405;
    box-shadow: 2px 3px 0px 0 #FFAE0E, 0 0px 0px 0 #FFAE0E;
  }
  a{
    color: white;
  }
  
  /* .bg-red-500{
    padding: 10px 40px;
    border-radius: 100px;
    background-color: #FFAE0E;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 3px 0px 0 #FF7405, 0 0px 0px 0 #FF7405;
    border: none;
    color:white;
    font-weight: bolder;
}
.bg-red-500:hover{
    background-color: #FF7405;
    box-shadow: 2px 3px 0px 0 #FFAE0E, 0 0px 0px 0 #FFAE0E;
    padding: 10px 50px; */