.nav{
    display: grid;
    background-color: #FF7405;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap:0px;
    grid-row-gap: 0px;
}
#nav-img{
    width: 30%;
    min-width: 150px;
}
#sign-up-img{
    width:150px;
    margin-top:10px;
}
#add-char-img{
    width:100px;
    margin-top: 3px;
}
/* .nav-links{
    background-color: #ffae0e;
    padding:40px;
    font-size: 24px;
    font-weight: bolder;
} */